parameters:
    level: 7
    paths:
        - src
        - tests
        - webroot
    excludes_analyse:
        - %rootDir%/../../../tests/data/*
    autoload_files:
        - tests/bootstrap.php
    earlyTerminatingMethodCalls:
        Cake\Console\Shell:
            - abort
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        # This rule is ignored to avoid aborting early during scheduled jobs run.
        - '#In method "App\\Shell\\CronShell::main", caught "Exception" must be rethrown.#'
        # This rule is ignored to avoid aborting early during scheduled jobs run.
        - '#In method "App\\ScheduledJobs\\Jobs\\CakeShellJob::run", caught "Exception" must be rethrown.#'
includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon
