/* Global custom styles go here */
.table-vertical-align > thead > tr > th,
.table-vertical-align > tbody > tr > th,
.table-vertical-align > tfoot > tr > th,
.table-vertical-align > thead > tr > td,
.table-vertical-align > tbody > tr > td,
.table-vertical-align > tfoot > tr > td {
    vertical-align: middle;
}

/* Highlight required fields */
.required label::after {
    content: " *";
    color: red;
}

.logo .logo-lg img,
.logo .logo-mini img {
    vertical-align: initial;
}

/* Wrap long menu item names */
.sidebar-menu li.treeview {
    white-space: normal;
}

.error-container .content-wrapper {
    margin: 0 auto;
    margin-top: 80px;
}

.error-container .main-header .logo {
    background-color: #3c8dbc;
}

.error-container .wrapper{
    background-color: #ecf0f5;
}

.search-form-top-menu .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-form-top-menu .form-control:focus {
    border-color: #d2d6de;
}

@media (max-width: 767px) {
    .search-form-top-menu {
        float: left;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .search-form-top-menu .input-group {
        display: inline-table;
        vertical-align: middle;
    }


    .search-form-top-menu .input-group > .form-control {
        width: 100%;
    }

    .search-form-top-menu .input-group .input-group-btn {
        width: auto;
    }
}

.control-sidebar-settings-tab {
    margin: -10px -15px;
}

/** Make sure that the row can fit a button **/
.box-primary .col-md-2, .box-primary .col-md-4 {
    min-height: 24px;
}

/** improve jumbotron which is not included in AdminLTE **/
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-top: 24px;
    padding-top: 24px;
}

/** hr separator on menu dropdown */
hr.separator {
    margin: 5px;
}
.separatorTitle {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
}

.vue-notification-adminlte {
    padding: 15px;
    margin: 0 5px 5px;
    border-radius: 3px;
    color: #ffffff;
    background: #00c0ef;
    border-color: #00acd6;
}

.vue-notification-adminlte a {
    color: #ffffff;
    text-decoration: underline;
}

.vue-notification-adminlte.warn {
    background: #f39c12;
    border-color: #e08e0b;
}

.vue-notification-adminlte.error {
    background: #dd4b39;
    border-color: #d73925;
}

.vue-notification-adminlte.success {
    background: #00a65a;
    border-color: #008d4c;
}
